
TEI {
    background-color: rgb(237, 238, 238);
}

teiHeader {
    background-color: azure;
    display: block;
}

titleStmt {
    display: block;
}
title {
    display: block;
}

title:after {
    content: "-----" ;
    display: block;
}

publicationStmt {
    display: inline;
        }


publicationStmt:after {
    content:"\a\a";
    white-space: pre;
}        


publisher::after {
    display: inline;
    content: ": ";
}

sourceDesc::before {
    content: "---- \n Source: ";
    display: inline;
}




name {
    display: inline;
}


body{
    color:#000000;
    background-color:#eddec6;
    margin:10pt;
    /*padding:0;*/
    font-family:Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    display: block;
}

p {
    display: block;
}

name[ana="person"] {
  width: 10px;
  padding: 6px;
  background-color: rgb(230, 179, 154);
}